[Desktop Entry]
Type=Application
Name=XPS Touchpad Button Config
Comment=Set touchpad button behaviors
Exec=/home/<user_name>/bin/touchpad-button-config
Terminal=false
X-GNOME-Autostart-enabled=true

